body {
    background-image: url("../images/just-waves.png");
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18pt;
}

.jewels {
    display: inline;
    width: 100px;
    height: 90px;
}

h1 {
    max-width: 760px;
    height: 50px;
    background-color: aqua;
    margin: 1%;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
}

.instructions {
    max-width: 760px;
    background-color: lightgoldenrodyellow;
    margin: 1%;
    padding-top: 10px;
    padding-left: 10px;
}

#imperative {
    max-width: 400px;
    height: 30px;
    background-color: orange;
    margin: 1%;
    padding-top: 10px;
    padding-left: 10px;
}

.winsLossesBox {
    max-width: 400px;
    height: 90px;
    background-color: lightgreen;
    margin: 1%;
    padding-top: 10px;
    padding-left: 10px;
}

.winsLossesBox p {
    padding-top: 10px;
}

.computer {
    max-width: 400px;
    height: 60px;
    background-color: purple;
    color: white;
    margin: 1%;
    padding-top: 15px;
    padding-left: 10px;
}

.user {
    max-width: 400px;
    height: 60px;
    background-color: lightcoral;
    margin: 1%;
    padding-top: 15px;
    padding-left: 10px;
}

#randomNumber,
#userNumber {
    display: inline;
    font-size: 30px;
}